
label {
    display: inline-block;
    margin: 10px;

}

input {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    padding: 10px;
    width: 100%;
}

input:focus{
    outline: none;
}

.btngreen {
    background-color: rgb(34, 85, 34);
    cursor: pointer;
    width: 100%;
    display:inline-block;
    border: 0px;
}

.btngreen:hover {
    background-color: rgb(45, 110, 45);
    border: 1px;
}

.btnred {
    background-color: rgb(136, 19, 19);
    cursor: pointer;
    width: 100%;
    display:inline-block;
    border: 0px;
}
.btnred:hover {
    background-color: rgb(163, 36, 36);
    border: 1px;
}

.btnstyle {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}